:root {
    --main-bg: rgb(255, 177, 177);

    --navbar-bg: rgb(117, 0, 0);
    --navbar-element-bg1: rgb(255, 79, 79);
    --navbar-element-bg2: rgb(248, 140, 132);

    --footer-bg1: rgb(228, 112, 137);
    --footer-bg2: rgb(248, 140, 132);
    --footer-bg3: rgb(214, 63, 63);

    --hover-scale: 1;
}

    @property --hover-scale {
        syntax: '<number>';
        inherits: false;
        initial-value: 1;
    }

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
    flex-direction: column;
}

#navbar_container {
    width: 95%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;

    background-color: var(--navbar-bg);
    border: 5px solid rgb(from var(--navbar-bg) calc(r + 65) g b);
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow:  rgb(from var(--navbar-bg) calc(r - 50) g b) 9px 10px, #000 0 20px 40px;
}

.navbar_element {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5dvh;
    font-weight: bold;

    color: whitesmoke;
    text-decoration: none;
    text-shadow: rgb(41, 9, 9, 0.8) 0 1px 8px;
    border: 3px solid rgb(from var(--navbar-element-bg1) calc(r - 100) calc(g - 55) calc(b - 25));
    border-radius: 6px;
    background: linear-gradient(150deg, var(--navbar-element-bg1), var(--navbar-element-bg2));
    padding: 7px;
    transform: scale(var(--hover-scale));

    transition: 
        --hover-scale 0.3s ease-in-out,
        box-shadow 0.4s ease-in;
}

.navbar_element:hover {
    --hover-scale: 1.2;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 7px 20px;
}

#footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

#footer_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    background: linear-gradient(120deg, var(--footer-bg1), var(--footer-bg3), var(--footer-bg2));
}

#footer_content {
    border-collapse: separate;
    border-spacing: 20px;
    width: 100%;
}

.footer_col_title, .footer_col_content {
    padding: 12px 15px;
    
    font-family: Arial, Helvetica, sans-serif;
}

.footer_col_title {
    background-color: #520000;
    color: #eeeeee;
    border: 5px solid #920000;
    border-radius: 10px;
    font-size: 32px;
    text-shadow: rgba(255, 85, 85, 0.8) 5px 5px 10px;
    box-shadow: 
        rgba(0, 0, 0, 0.6) 0 10px 15px,
        rgba(150,0,0,0.8) -10px -10px 16px inset;

    transition: 
        box-shadow 0.5s ease-in;
}

.footer_col_content {
    font-size: 16px;
    background-color: #ff3730;
    color: #eeeeee;
    border: 3px solid #cc0700;
    border-radius: 10px;
    box-shadow: 
        rgba(119, 0, 0, 0.8) 10px 10px 20px inset,
        rgba(255, 0, 0, 0.6) 0 10px 15px;
    align-content: center;
    text-align: center;

    transition:
        box-shadow 0.5s ease-in;
}

.footer_col_content:hover {
    cursor: default;
    box-shadow:
        rgba(255, 98, 98, 0.8) -10px -10px 20px inset,
        rgba(255, 0, 0, 0.6) 0 10px 15px;
}

.footer_col_title:hover {
    cursor: default;
    box-shadow:
        rgba(0, 0, 0, 0.6) 0 10px 15px,
        rgba(59, 7, 7, 0.6) 10px 10px 16px inset;
}

.social_media_refs {
    padding: 0 5rem;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-color: #c40d0d;
    -webkit-text-stroke-width: 1px;
    text-decoration: none;
    text-shadow: #ffb6b6 0 10px 20px;
}

.social_media_refs:hover {
    text-decoration: underline;
}