:root {
    --main-bg: rgb(255, 177, 177);

    --header-bg: rgb(103, 8, 15);

    --navbar-bg: rgb(117, 0, 0);
    --navbar-element-bg1: rgb(255, 79, 79);
    --navbar-element-bg2: rgb(248, 140, 132);

    --input-bg1: rgb(77, 0, 0);
    --input-bg2: rgb(202,130,130);

    --buttons-1: rgb(153, 0, 0);

    --footer-bg1: rgb(228, 112, 137);
    --footer-bg2: rgb(248, 140, 132);
    --footer-bg3: rgb(214, 63, 63);
    --footer-altbg1: rgb(82, 0, 16);
    --footer-altbg2: rgb(114, 13, 0);
    --footer-alt-deco1: rgb(255, 101, 101);
    --footer-titlebg: rgb(82, 0, 0);
    --footer-contentbg: rgb(255, 55, 48);

    --hover-scale: 1;
}

    @property --hover-scale {
        syntax: '<number>';
        inherits: false;
        initial-value: 1;
    }

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main {
    max-width: 100vw;
}

#header {
    display: flex;
    flex-direction: column;
}

#header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--header-bg);
    box-shadow: var(--header-bg) 0 10px 25px;
}

#gob_logo {
    width: 176px;
    height: 80px;
    max-height: 100%;
    object-fit: cover;
    padding: 10px 5px 10px 10px;
}

#school_logo {
    max-width: 100%;
    width: 136;
    height: 80px;
    object-fit: cover;
    padding: 10px 50px 10px 10px;
}

#navbar {
    display: flex;
    flex-direction: column;
}

#navbar_container {
    width: 95%;
    overflow-x: hidden;

    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;

    background-color: var(--navbar-bg);
    border: 5px solid rgb(from var(--navbar-bg) calc(r + 65) g b);
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: rgb(from var(--navbar-bg) calc(r - 50) g b) 9px 10px, black 0 20px 40px;
}

.navbar_element {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5dvh;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: rgb(41, 9, 9, 0.8) 0 1px 8px;
    border: 3px solid rgb(from var(--navbar-element-bg1) calc(r - 100) calc(g - 55) calc(b - 25));
    border-radius: 6px;
    background-color: var(--navbar-element-bg1);
    box-shadow: var(--navbar-element-bg2) 5px 5px 15px inset;

    max-width: fit-content;
    padding: 7px;
    transform: scale(var(--hover-scale));

    transition: 
        --hover-scale 0.3s ease-in-out,
        box-shadow 0.2s ease-in;
}

.navbar_element:hover {
    --hover-scale: 1.1;
    box-shadow:
    var(--navbar-element-bg2) 5px 5px 15px inset,
        rgba(0, 0, 0, 0.5) 10px 7px 20px;
}

.navbar_element:active {
    --hover-scale: 0.9;
    background-color: rgb(from var(--navbar-bg) calc(r - 55) g b);
    box-shadow:
        var(--navbar-element-bg1) -5px -5px 15px inset,
        rgba(0, 0, 0, 0.5) 10px 7px 20px;
}

#body {
    display: flex;
    flex: 1;
    height: 50rem;
}

#footer {
    width: 100%;
    margin-top: auto;
}

#footer_container {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    background: linear-gradient(120deg, var(--footer-bg1), var(--footer-bg3), var(--footer-bg2));
}

#footer_content {
    width: 100%;
    border-collapse: sepacrate;
    border-spacing: 20px;
    table-layout: fixed;
}

#alt_footer_linebreak {
    border: none;
}

.footer_col_title, .footer_col_content {
    padding: 12px 15px;
    
    font-family: Arial, Helvetica, sans-serif;
}

.footer_col_title {
    background-color: var(--footer-titlebg);
    color: #eeeeee;
    border: 5px solid #920000;
    border-radius: 10px;
    font-size: 24px;
    text-shadow: rgba(255, 85, 85, 0.8) 5px 5px 10px;
    box-shadow: 
        rgba(0, 0, 0, 0.6) 0 10px 15px,
        rgba(150,0,0,0.8) -10px -10px 16px inset;

    transition: 
        box-shadow 0.5s ease-in;
}

.footer_col_content {
    font-size: 12px;
    background-color: var(--footer-contentbg);
    color: #eeeeee;
    border: 3px solid #cc0700;
    border-radius: 10px;
    box-shadow: 
        rgba(119, 0, 0, 0.8) 10px 10px 20px inset,
        rgba(255, 0, 0, 0.6) 0 10px 15px;
    align-content: center;
    text-align: center;

    transition:
        box-shadow 0.5s ease-in;
}

#subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscription input {
    margin: 20px 0;
    width: 80%;

    font-size: 15px;
    background-color: var(--input-bg1);
    border-color: rgb(from var(--input-bg1) calc(r - 35) g b);
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    color: white;

    transition:
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        background-color 0.3s ease,
        box-shadow 0.3s ease-in;
}

#subscription input:hover, #subscription input:focus {
    color: black;
    background-color: var(--input-bg2);
    border-color: rgb(from var(--input-bg1) calc(r + 135) calc(g + 80) calc(b + 100));
    box-shadow: rgba(0,0,0,0.6) 0 10px 15px;
}

#subscription button {
    max-width:fit-content;
    transform: scale(var(--hover-scale));
    padding: 8px;
    margin: 0 auto 10px auto;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: white;
    background-color: var(--buttons-1);
    border: 2px solid rgb(from var(--buttons-1) calc(r + 25) g b);
    border-radius: 10px;
    box-shadow: rgb(116, 1, 16) 0 3px 0 3px;

    transition: 
        --hover-scale 0.3s ease-in,
        box-shadow 0.3s ease-in-out,
        text-shadow 0.4s ease-in;
}

#subscription button:hover {
    --hover-scale: 1.2;

    cursor: pointer;
    box-shadow:
        rgb(116, 1, 16) 0 3px 0 3px,
        rgb(0,0,0,0.6) 0 7px 10px 5px;
    text-shadow: rgba(255, 255, 255, 0.5) 0 3px 10px;
}

#subscription button:active {
    --hover-scale: 0.9;
}

.footer_col_content:hover {
    cursor: default;
    box-shadow:
        rgba(255, 98, 98, 0.8) -10px -10px 20px inset,
        rgba(255, 0, 0, 0.6) 0 10px 15px;
}

.footer_col_title:hover {
    cursor: default;
    box-shadow:
        rgba(0, 0, 0, 0.6) 0 10px 15px,
        rgba(59, 7, 7, 0.6) 10px 10px 16px inset;
}

.social_media_row td{
    transform: scale(var(--hover-scale));

    transition: 
        --hover-scale 0.35s ease-in-out;
}

.social_media_row td:hover{
    --hover-scale: 1.1;
}

.social_media_refs {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-color: #c40d0d;
    -webkit-text-stroke-width: 1px;
    text-decoration: none;
    text-shadow: #ffb6b6 0 10px 20px;
    text-align: center;
}

.social_media_refs:hover {
    text-decoration: underline;
}

#rights_reserved {
    text-align: center;
    color: white;
    text-shadow: #000000 0 4px 5px;
    font-size: 0.85rem;
}

@media (max-width: 768px) {
    #navbar_container {
        width: 80%;
        overflow-x: auto;
        box-shadow: rgb(from var(--navbar-bg) calc(r - 50) g b) 0 10px, black 0 20px 40px;
    }

    .navbar_element {
        font-size: 1.8dvh;
    }

    #gob_logo {
        max-width: 100%;
        width: 88px;
        height: 40px;
    }

    #school_logo {
        width: 85;
        height: 50px;
    }

    #footer_container {
        background: linear-gradient(220deg, var(--footer-altbg1), var(--footer-altbg2));
    }

    #footer_content, #footer_content thead, #footer_content tbody, #footer_content th, #footer_content td, #footer_content tr {
        display: block;
    }

    .footer_col_content, .footer_col_title {
        width: 50%;
        margin: 20px 50px;
        padding: 20px 10px;

        border: none;
        box-shadow: none;
        border-radius: 8px;
    }

    #footer_content thead tr th:not(:only-child){
        display: none;
        color: green;
    }

    .footer_col_title {
        border-bottom: 1px solid var(--footer-alt-deco1);
        background-color: lab(0% 0 0 / 0);
    }

    .footer_col_content {
        background-color: hwb(2 19% 0% / 0.35);
    }

    #footer_content tbody tr:not(.social_media_row) td:nth-child(1)::before {
        content: "Acerca de";
    }

    #footer_content tbody tr:not(.social_media_row) td:nth-child(2)::before {
        content: "Explorar";
    }

    #footer_content tbody tr:not(.social_media_row) td:nth-child(3)::before {
        content: "Newsletter";
    }

    #footer_content tbody tr:not(.social_media_row) td::before{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-shadow: rgba(255, 198, 198, 0.5) 0 5px 10px;
        border-bottom: 1px solid var(--footer-alt-deco1);
    }

    #alt_footer_linebreak {
        border-top: 2px solid var(--footer-alt-deco1);
        width: 100%;
    }

    #rights_reserved {
        border-top: 2px solid var(--footer-alt-deco1);
    }
}