:root {
    --main-bg: rgb(255, 177, 177);

    --frame-bg11: rgb(121, 9, 20);
    --frame-bg12: rgb(100, 0, 0);
    --frame-border1: rgb(70, 12, 12);

    --frame-bg21: rgb(255, 150, 150);
    --frame-bg22: rgb(226, 142, 156);

    --pfp-bg: rgb(65, 26, 26);
    --pfp-fg: rgb(209, 156, 156);
    --pfp-border: rgb(182, 15, 28);
    --info-bg: rgb(112, 16, 27);

    --hover-scale: 1;
}

    @property --hover-scale {
        syntax: '<number>';
        inherits: false;
        initial-value: 1;
    }

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: fit-content;
    width: 100%;
}

#docentes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 2rem;
    margin: 5rem auto;

    background: linear-gradient(70deg, var(--frame-bg11), var(--frame-bg12));
    border-radius: 20px 0 20px 0;
    box-shadow: rgba(0,0,0,0.5) 0 0 25px 10px;
}

#docentes_container hr {
    border: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #ff7575, transparent);
    border-radius: 50%;
    margin: 50px 0;
}

.docentes_content {
    width: calc(100% - 4rem);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;

    background: linear-gradient(210deg, var(--frame-bg21), var(--frame-bg22));
    background-repeat: no-repeat;
    background-size: cover;

    border: none;
    border-radius: 25px;
    box-shadow: var(--frame-bg22) 0 0 15px 5px;
}

.docentes_content legend {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

    background-color: rgb(from var(--info-bg) calc(r - 35) g b);
    color: antiquewhite;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #000 10px 15px 20px;

    display: inline-block;
    transform: translateY(-25%);
    margin-bottom: -15px;
}

.perfil_docente {
    max-width: 150px;
    margin: 20px 50px;
    padding: 5px;
    
    background-color: var(--info-bg);
    border: 5px outset var(--pfp-border);
    border-radius: 10px;
    box-shadow: var(--info-bg) 0 10px 25px 10px;

    transform: scale(var(--hover-scale));
    transition: 
        --hover-scale 0.5s ease-in-out;
}

.perfil_docente:hover {
    --hover-scale: 1.1;
    cursor: default;
}

.pfp_canvas {
    background-color: var(--pfp-bg);
    box-shadow:
        rgb(105, 0, 0) 0 0 10px 5px inset,
        var(--pfp-border) 0 0 0 15px inset;
}

.pfp_canvas path {
    stroke: var(--pfp-fg);
    stroke-width: 5px;
    fill: var(--pfp-fg);
}

.info_doc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;

    overflow-wrap: break-word;
    hyphens: auto;
}

.info_doc p{
    color: rgb(202, 182, 182);
    font-weight: normal;

    padding: 0 0 10px 15px;
}

@media (max-width: 768px), (orientation: portrait) {
    #docentes_container {
        width: 70%;
    }

    .docentes_content {
        width: 80%;
        box-shadow: none;
        border-radius: 50px;
    }

    .docentes_content legend {
        font-size: 30px;
    }

    .perfil_docente {
        margin: 20px 20px;
    }

    .pfp_canvas {
        box-shadow:
            rgb(95, 0, 0) 0 0 10px 15px inset,
            var(--pfp-bg) 0 0 0 15px inset;
    }
}